# Compiled class file
*.class

# Log file
*.log
**/mvnw
**/mvnw.cmd
**/.mvn
**/target/
.idea
**/.gitignore
# BlueJ files
*.ctxt
**/mvnw
**/mvnw.cmd
**/.mvn
**/target/
.idea
**/.gitignore
# Mobile Tools for Java (J2ME)
.mtj.tmp/
**/mvnw
**/mvnw.cmd
**/.mvn
**/target/
.idea
**/.gitignore
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zipx
*.tar.gz
*.rar
**/mvnw
**/mvnw.cmd
**/.mvn
**/target/
.idea
**/.gitignore
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
**/mvnw
**/mvnw.cmd
**/.mvn
**/target/
.idea
**/.gitignore
